@import "tailwindcss";

@theme {
  --font-sans: "Mulish", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary-dark: #35126E;
  --color-primary-vibrant: #A12AC0;
  --color-accent: #FF305C;
  --color-button: #4D1AA1;
}

@layer base {
  body {
    @apply bg-white text-slate-900 font-sans;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;900&display=swap');
